/*******Variables********/
$header-background: #eaeaea;
$primary-background: #f6f6f6;
$segondary-background: #ffffff;
$button-background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
$color-elipse: #9356dc;
$footer-background: #353535;
