/*******Variables********/
/****Fonts*****/
@font-face {
  font-family: roboto;
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: shrikhand;
  src: url("../assets/fonts/shrinkhand/Shrikhand-Regular.ttf");
}
/********mixins*******/
/********Composants*********/
/*boutons*/
.button-CTA {
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  color: white;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  border-radius: 25px;
  padding: 15px 20px;
  border: none;
  margin-bottom: 60px;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.493);
  cursor: pointer;
  transition: all 0.4s;
}
.button-CTA:hover {
  box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.623);
  transform: scale(1.01);
  opacity: 0.9;
}

/*********resets******/
body {
  margin: 0;
}

* {
  text-decoration: none;
}

/*********Header*********/
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .header__logo {
  display: flex;
  justify-content: center;
  padding: 15px;
}
header .header__logo img {
  width: 50%;
}
header .header__gps-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  background-color: #eaeaea;
  font-family: roboto, sans-serif;
}

/******section reservation*******/
.reservation {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.reservation h2 {
  padding: 40px 55px 0px 55px;
  text-align: center;
  margin: 0;
  font-family: roboto, sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.reservation p {
  margin: 0;
  padding: 0 30px;
  text-align: center;
  color: #353535;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 300;
}

/******section fonctionement*******/
.fonctionement {
  padding: 20px;
  margin-bottom: 40px;
}
.fonctionement h2 {
  font-family: roboto, sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.fonctionement .fonctionement__choix-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.fonctionement .fonctionement__choix-container a {
  color: #353535;
}
.fonctionement .fonctionement__choix-container .fonctionement__choix-container__composant {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: roboto, sans-serif;
  background: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.493);
}
.fonctionement .fonctionement__choix-container span {
  position: absolute;
  top: 20px;
  left: -10px;
  display: flex;
  height: 20px;
  width: 20px;
  background: #9356dc;
  border-radius: 200px;
  color: #f6f6f6;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  font-family: "roboto";
}
.fonctionement .fonctionement__choix-container .fa-solid {
  font-weight: 900;
  margin-left: 20px;
}
.fonctionement .fonctionement__choix-container .fa-solid.fa-mobile-screen-button {
  color: #7e7e7e;
}
.fonctionement .fonctionement__choix-container .fa-solid.fa-list {
  color: #7e7e7e;
}
.fonctionement .fonctionement__choix-container .fa-solid.fa-store {
  color: #9356dc;
}

/****section restaurants****/
.restaurants {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #f6f6f6;
  padding: 50px 20px;
}
.restaurants h2 {
  font-family: roboto, sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}
.restaurants .restaurants__card {
  overflow: hidden;
  height: 250px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background: #ffffff;
}
.restaurants .restaurants__card img {
  height: 75%;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants .restaurants__card .restaurants__card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 25%;
  padding: 10px;
}
.restaurants .restaurants__card .restaurants__card__content h3 {
  font-size: 18px;
  font-family: roboto, sans-serif;
  font-weight: 700;
  margin: 0;
}
.restaurants .restaurants__card .restaurants__card__content p {
  margin: 0;
  font-size: 17px;
  font-family: roboto, sans-serif;
  font-weight: 300;
}
.restaurants .restaurants__card .restaurants__card__content .restaurants__card__content__heart {
  height: 100%;
  position: relative;
}
.restaurants .restaurants__card .restaurants__card__content i {
  position: absolute;
  top: 10%;
  right: 0%;
}
.restaurants .restaurants__card .restaurants__card__content .fa-solid {
  opacity: 0;
}
.restaurants .restaurants__card .restaurants__card__content .fa-solid:hover {
  opacity: 1;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
}

/*********footer**************/
footer {
  background: #353535;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
footer .footer__logo h2 {
  color: white;
  font-size: 18px;
  font-family: shrikhand, sans-serif;
  font-weight: 300;
  margin: 0 0 10px;
}
footer .footer__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footer__content a {
  color: #ffffff;
  text-decoration: none;
}
footer .footer__content a .fa-utensils {
  margin-right: 10px;
}
footer .footer__content a .fa-handshake {
  margin-right: 5px;
  rotate: 325deg;
}/*# sourceMappingURL=style.css.map */