/*********footer**************/
footer {
  @media screen and (min-width: 768px) {
    flex-direction: row-reverse;
  }
  background: $footer-background;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: roboto, sans-serif;
  .footer__logo {
    h2 {
      color: white;
      font-size: 18px;
      font-family: shrikhand, sans-serif;
      font-weight: 300;
      margin: 0 0 10px;
      @media screen and (min-width: 768px) {
        margin: 0 40px 10px;
      }
    }
  }
  .footer__content {
    @media screen and (min-width: 768px) {
      flex-direction: row;
      margin-right: 80px;
      align-items: center;
      gap: 25px;
    }
    display: flex;
    flex-direction: column;
    gap: 10px;
    a {
      color: $segondary-background;
      text-decoration: none;
      .fa-utensils {
        margin-right: 10px;
      }
      .fa-handshake {
        margin-right: 5px;
        rotate: 325deg;
      }
    }
  }
}
