/*********Header*********/
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  .fa-arrow-left {
    position: absolute;
    top: 23px;
    left: 20px;
    font-size: 1.5rem;
  }
  .header__logo {
    @include flex-center();
    padding: 15px;
    img {
      width: 200px;
      height: 40px;
    }
  }
  .header__gps-container {
    @include flex-center();
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: $header-background;
    font-family: roboto, sans-serif;
    border-top: 4px solid #88888828;
    @media screen and (min-width: 768px) {
      border-top: none;
    }
  }
}
