/******section fonctionnement*******/
.fonctionnement {
  padding: 20px;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    width: 80%;
  }
  @media screen and (min-width: 1050px) {
    width: 100%;
  }
  h2 {
    @include h2-section();
  }
  .fonctionnement__choix-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    @media screen and (min-width: 1050px) {
      display: grid;
      grid-template-columns: repeat(3, 25%);
      grid-template-rows: auto;
      justify-content: center;
      grid-template-areas:
        "title title title"
        "card1 card2 card3";
      .title {
        grid-area: title;
      }
      .card1 {
        grid-area: card1;
      }
      .card2 {
        grid-area: card2;
      }
      .card3 {
        grid-area: card3;
      }
    }
    a {
      color: black;
    }
    .fonctionnement__choix-container__composant {
      @media screen and (min-width: 768px) {
        width: 100%;
      }
      position: relative;
      display: flex;
      align-items: center;
      gap: 10px;
      font-family: roboto, sans-serif;
      background: $primary-background;
      border-radius: 20px;
      @include shadow();
    }
    span {
      position: absolute;
      top: 20px;
      left: -10px;
      display: flex;
      height: 24px;
      width: 24px;
      background: $color-elipse;
      border-radius: 200px;
      color: #f6f6f6;
      justify-content: center;
      align-items: center;
      font-size: 0.9rem;
      font-family: "roboto";
    }
    .fa-solid {
      font-weight: 900;
      margin-left: 20px;
      &.fa-mobile-screen-button {
        color: #7e7e7e;
      }
      &.fa-list {
        color: #7e7e7e;
      }
      &.fa-store {
        color: $color-elipse;
      }
    }
  }
}
