/****section restaurants****/
.restaurants {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: $primary-background;
  padding: 50px 20px;
  @media screen and (min-width: 768px) {
    width: 100%;
    display: grid;
    justify-content: center;
    gap: 40px 80px;
    padding: 50px 0px;
    grid-template-columns: repeat(2, 35%);
    grid-template-rows: auto;
    grid-template-areas:
      "title title"
      "card1 card2"
      "card3 card4";
    .title {
      grid-area: title;
    }
    .card1 {
      grid-area: card1;
    }
    .card2 {
      grid-area: card2;
    }
    .card3 {
      grid-area: card3;
    }
    .card4 {
      grid-area: card4;
    }
  }
  h2 {
    @include h2-section();
    margin: 0;
  }
  .restaurants__card {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background: $segondary-background;
    a {
      position: relative;
      display: flex;
      flex-direction: column;
      height: 250px;
      img {
        height: 75%;
        width: 100%;
        object-fit: cover;
      }
      .restaurants__card__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        height: 25%;
        padding: 10px;
        h3 {
          font-size: 18px;
          font-family: roboto, sans-serif;
          font-weight: 700;
          margin: 0;
        }
        p {
          margin: 0;
          font-size: 17px;
          font-family: Roboto, sans-serif;
          font-weight: 300;
        }
      }
    }
    .restaurants__card__content__heart {
      position: absolute;
      top: 205px;
      right: 45px;
      background-color: aqua;
    }
    i {
      position: absolute;
      font-size: 1.3rem;
    }
    .fa-solid {
      opacity: 0;
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      transition: all 0.4s ease-in-out;
      background-image: $button-background;
      &:hover {
        opacity: 1;
      }
    }
  }
}
