/******Animation du Loader de chargement************/
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(94, 91, 91, 0.299);
  z-index: 99999;
  animation: fadeOut 1s linear 1s forwards;
}
.loader {
  font-size: 5rem;
  color: purple;
  animation: rotateLoader 1s linear infinite;
}
@keyframes rotateLoader {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
/*****animation card-box****/
@keyframes anim-card-box {
  0% {
    transform: translateX(-500px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.entrees {
  animation: anim-card-box 0.4s;
}
.plats {
  animation: anim-card-box 0.8s;
}
.desserts {
  animation: anim-card-box 1.2s;
}
