/******Animation du Loader de chargement************/
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(94, 91, 91, 0.299);
  z-index: 99999;
  top: 0;
  left: 0;
  animation: fadeOut 1s linear 1s forwards;
}
.loader {
  height: 150px;
  width: 150px;
  border-top: 8px solid #9356dc;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #9356dc;
  border-left: 8px solid transparent;
  border-radius: 100px;
  animation: rotateLoader 1s linear infinite;
}
@keyframes rotateLoader {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
/*****animation card-box****/
@keyframes anim-card-box {
  0% {
    transform: translateX(-500px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.entrees {
  animation: anim-card-box 0.4s;
}
.plats {
  animation: anim-card-box 0.8s;
}
.desserts {
  animation: anim-card-box 1.2s;
}
