/****Fonts*****/
@font-face {
  font-family: roboto;
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: shrikhand;
  src: url("../assets/fonts/shrinkhand/Shrikhand-Regular.ttf");
}
