/*******Variables********/
/********mixins*******/
/****Fonts*****/
@font-face {
  font-family: roboto;
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: shrikhand;
  src: url("../assets/fonts/shrinkhand/Shrikhand-Regular.ttf");
}
/*********resets******/
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1440px;
}

* {
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
}

/********Composants*********/
/*Nouveau*/
.restaurants__card__nouveau {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  width: 80px;
  height: 30px;
  border-radius: 5px;
}
.restaurants__card__nouveau p {
  color: #008766;
  font-family: Roboto;
}

/*boutons*/
.button-CTA {
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  color: white;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  border-radius: 25px;
  padding: 15px 20px;
  border: none;
  margin-bottom: 30px;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.493);
  cursor: pointer;
  transition: all 0.4s;
}
.button-CTA:hover {
  box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.623);
  transform: scale(1.01);
  opacity: 0.9;
}

/******Animation du Loader de chargement************/
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(94, 91, 91, 0.299);
  z-index: 99999;
  top: 0;
  left: 0;
  animation: fadeOut 1s linear 1s forwards;
}

.loader {
  height: 150px;
  width: 150px;
  border-top: 8px solid #9356dc;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #9356dc;
  border-left: 8px solid transparent;
  border-radius: 100px;
  animation: rotateLoader 1s linear infinite;
}

@keyframes rotateLoader {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
/*****animation card-box****/
@keyframes anim-card-box {
  0% {
    transform: translateX(-500px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.entrees {
  animation: anim-card-box 0.4s;
}

.plats {
  animation: anim-card-box 0.8s;
}

.desserts {
  animation: anim-card-box 1.2s;
}

/*********footer**************/
footer {
  background: #353535;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: roboto, sans-serif;
}
@media screen and (min-width: 768px) {
  footer {
    flex-direction: row-reverse;
  }
}
footer .footer__logo h2 {
  color: white;
  font-size: 18px;
  font-family: shrikhand, sans-serif;
  font-weight: 300;
  margin: 0 0 10px;
}
@media screen and (min-width: 768px) {
  footer .footer__logo h2 {
    margin: 0 40px 10px;
  }
}
footer .footer__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  footer .footer__content {
    flex-direction: row;
    margin-right: 80px;
    align-items: center;
    gap: 25px;
  }
}
footer .footer__content a {
  color: #ffffff;
  text-decoration: none;
}
footer .footer__content a .fa-utensils {
  margin-right: 10px;
}
footer .footer__content a .fa-handshake {
  margin-right: 5px;
  rotate: 325deg;
}

/*********Header*********/
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
header .arrow-left {
  position: absolute;
  top: 14px;
  left: 14px;
  font-size: 1.5rem;
}
header .header__logo {
  display: flex;
  justify-content: center;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 2;
}
@media screen and (min-width: 768px) {
  header .header__logo {
    box-shadow: none;
  }
}
header .header__logo img {
  width: 200px;
  height: 40px;
}
header .header__gps-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  background-color: #eaeaea;
  font-family: roboto, sans-serif;
  height: 60px;
}
header .header__gps-container .fa-location-dot {
  font-size: larger;
}
header .header__gps-container input {
  border: none;
  padding: 5px;
  font-size: 1rem;
  background-color: #eaeaea;
  font-weight: bold;
  width: 130px;
}
header .header__gps-container input:focus {
  outline: 3px solid #9356dc;
  border-radius: 5px;
}
header .header__gps-container .label-content {
  font-size: 0;
}
@media screen and (min-width: 768px) {
  header .header__gps-container {
    border-top: none;
  }
}

@media screen and (min-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*******Reglage de la photo d'accueill des pages restaurants ****************/
.accueil-image-restaurant {
  height: 240px;
  width: 100%;
}
.accueil-image-restaurant img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

/*h1 + coeur*/
.accueil-restaurant-titre {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 25px 25px 0 0;
  position: relative;
}
@media screen and (min-width: 768px) {
  .accueil-restaurant-titre {
    width: 100%;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .accueil-restaurant-titre .container-coeur {
    position: relative;
  }
}
.accueil-restaurant-titre h1 {
  font-size: 1.75rem;
  font-family: shrikhand;
  font-weight: 400;
  padding-left: 20px;
}
@media screen and (max-width: 345px) {
  .accueil-restaurant-titre h1 {
    font-size: 1.5rem;
  }
}
.accueil-restaurant-titre i {
  cursor: pointer;
  position: absolute;
  top: 27px;
  right: 35px;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .accueil-restaurant-titre i {
    top: -13px;
    right: -50px;
  }
}
@media screen and (max-width: 345px) {
  .accueil-restaurant-titre i {
    top: 22px;
  }
}
.accueil-restaurant-titre .fa-solid {
  opacity: 0;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
}
.accueil-restaurant-titre .fa-solid:hover {
  opacity: 1;
}

/*superposition conteneur sur img restaurant*/
.container-menu {
  background-color: #f6f6f6;
  border-radius: 25px 25px 0 0;
  width: 100%;
  margin-top: -25px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .container-menu {
    width: 80%;
    display: flex;
    align-items: center;
  }
}

/* descriptif menu titre et ligne*/
.card-box {
  background-color: #f6f6f6;
  /**********parie menu &animationPrix************/
}
@media screen and (min-width: 768px) {
  .card-box {
    width: 70%;
  }
}
.card-box h2 {
  font-family: Roboto;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  padding: 20px 15px 10px 15px;
}
.card-box .ligne {
  width: 50px;
  height: 3px;
  background-color: #99e2d0;
  margin-left: 15px;
}
.card-box .card-box__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  gap: 15px;
}
.card-box .card-box__container__carte {
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  border-radius: 15px;
  height: 60px;
  overflow: hidden;
  /***survolAnimation***/
}
.card-box .card-box__container__carte:hover .card-box__container__carte-text h2 {
  overflow: hidden;
}
.card-box .card-box__container__carte:hover .card-box__container__carte-text p {
  overflow: hidden;
}
.card-box .card-box__container__carte:hover .card-box__container__carte-prix {
  transform: translateX(0px);
}
.card-box .card-box__container__carte:hover .card-box__container__carte-prix .fa-circle-check {
  color: white;
  transform: rotate(2turn);
}
.card-box .card-box__container__carte:hover .card-box__container__carte-prix span {
  background-color: #99e2d0;
}
.card-box .card-box__container__carte-text {
  margin-right: auto;
  display: flex;
  gap: 5px;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 0 0 0 15px;
  overflow: hidden;
  white-space: nowrap;
}
.card-box .card-box__container__carte-text h3 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1rem;
  font-family: Roboto;
  font-weight: 600;
  margin: 0;
}
.card-box .card-box__container__carte-text p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.8rem;
  font-family: Roboto;
  font-weight: 300;
  margin: 0;
}
.card-box .card-box__container__carte-prix {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: Roboto;
  font-weight: 700;
  transform: translateX(45px);
  transition: all 0.4s;
}
.card-box .card-box__container__carte-prix p {
  padding-top: 25px;
  margin-right: 10px;
}
.card-box .card-box__container__carte-prix span {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50px;
  border-radius: 0 15px 15px 0px;
}
.card-box .card-box__container__carte-prix span .fa-circle-check {
  color: transparent;
  transition: all 0.4s;
}

/****Bouton****/
.cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  width: 100%;
}
.cta-container .button-CTA {
  margin: 30px 0 40px 0;
  padding: 15px 40px;
}

/******section reservation*******/
.reservation {
  width: 100%;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.reservation h1 {
  padding: 40px 55px 0px 55px;
  text-align: center;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.reservation p {
  margin: 0;
  padding: 0 30px;
  text-align: center;
  color: #353535;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 300;
}

/******section fonctionnement*******/
.fonctionnement {
  padding: 20px;
  margin-bottom: 40px;
  margin-left: 30px;
}
@media screen and (min-width: 768px) {
  .fonctionnement {
    width: 88%;
  }
}
@media screen and (min-width: 1024px) {
  .fonctionnement {
    width: 97%;
  }
}
.fonctionnement h2 {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.fonctionnement .fonctionnement__choix-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media screen and (min-width: 1024px) {
  .fonctionnement .fonctionnement__choix-container {
    display: grid;
    gap: 15px 30px;
    grid-template-columns: repeat(3, 29%);
    grid-template-rows: auto;
    justify-content: center;
    grid-template-areas: "title title title" "card1 card2 card3";
  }
  .fonctionnement .fonctionnement__choix-container .title {
    grid-area: title;
  }
  .fonctionnement .fonctionnement__choix-container .card1 {
    grid-area: card1;
  }
  .fonctionnement .fonctionnement__choix-container .card2 {
    grid-area: card2;
  }
  .fonctionnement .fonctionnement__choix-container .card3 {
    grid-area: card3;
  }
}
.fonctionnement .fonctionnement__choix-container a {
  color: black;
}
.fonctionnement .fonctionnement__choix-container .fonctionnement__choix-container__composant {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: roboto, sans-serif;
  background: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.493);
}
@media screen and (min-width: 768px) {
  .fonctionnement .fonctionnement__choix-container .fonctionnement__choix-container__composant {
    width: 100%;
  }
}
.fonctionnement .fonctionnement__choix-container span {
  position: absolute;
  top: 20px;
  left: -10px;
  display: flex;
  height: 24px;
  width: 24px;
  background: #9356dc;
  border-radius: 200px;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-family: "roboto";
}
.fonctionnement .fonctionnement__choix-container .container__icone {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 15px;
  margin-left: 30px;
}
.fonctionnement .fonctionnement__choix-container .fa-solid {
  font-weight: 900;
}
.fonctionnement .fonctionnement__choix-container .fa-solid.fa-mobile-screen-button {
  color: #7e7e7e;
}
.fonctionnement .fonctionnement__choix-container .fa-solid.fa-list {
  color: #7e7e7e;
}
.fonctionnement .fonctionnement__choix-container .fa-solid.fa-store {
  color: #9356dc;
}

/****section restaurants****/
.restaurants {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #f6f6f6;
  padding: 50px 20px;
}
@media screen and (min-width: 768px) {
  .restaurants {
    width: 100%;
    display: grid;
    justify-content: center;
    gap: 40px 80px;
    padding: 50px 0px;
    grid-template-columns: repeat(2, 39%);
    grid-template-rows: auto;
    grid-template-areas: "title title" "card1 card2" "card3 card4";
  }
  .restaurants .title {
    grid-area: title;
  }
  .restaurants .card1 {
    grid-area: card1;
  }
  .restaurants .card2 {
    grid-area: card2;
  }
  .restaurants .card3 {
    grid-area: card3;
  }
  .restaurants .card4 {
    grid-area: card4;
  }
}
.restaurants h2 {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}
.restaurants .restaurants__card {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background: #ffffff;
}
.restaurants .restaurants__card a {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 275px;
}
.restaurants .restaurants__card a img {
  height: 75%;
  width: 100%;
  object-fit: cover;
}
.restaurants .restaurants__card a .restaurants__card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
}
.restaurants .restaurants__card a .restaurants__card__content h3 {
  font-size: 18px;
  font-family: roboto, sans-serif;
  font-weight: 700;
  margin: 0;
}
.restaurants .restaurants__card a .restaurants__card__content p {
  margin: 0;
  font-size: 17px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
}
.restaurants .restaurants__card .restaurants__card__content__heart {
  position: absolute;
  top: 225px;
  right: 45px;
}
.restaurants .restaurants__card i {
  position: absolute;
  font-size: 1.3rem;
  cursor: pointer;
}
.restaurants .restaurants__card .fa-solid {
  opacity: 0;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
}
.restaurants .restaurants__card .fa-solid:hover {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
